@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.myform{
  display: grid;
  padding: 1rem;
  background-color:rgb(9, 9, 56);
  color: white;
}

form label{
  padding: 1rem;
  display: inline-block;
  width: 10%;
}
form input, textarea, select {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 5px;
  font-family:cursive;
}
input[type="submit"]{
  background-color: green;
  color: white;
  text-transform: uppercase;
  margin-left: 8rem;
  width:6rem;
}


.myview{
  display: grid;
  height: 50vh;
  width: 80vw;
  margin: 2rem;
}

.mynotes {
  box-shadow: 1px 1px 1px black;
  margin: 1rem ;
  position: relative;
}
.mynotes h1{
 padding: 0.5rem;
  margin: 0 2rem;
}
.mynotes p{
  padding: 0.5rem;
  margin: 1rem;
  text-indent:20px ;
  border-bottom: 1px dotted black;
  width: 40%;

}
.mynotes::before{
  content: "";
  width: 2px;
  height: 100%;
  border-left: 1px solid rgb(255, 77, 0);
  border-right: 1px solid rgb(255, 77, 0);
  position: absolute;
  left: 20px;
}
span{
  font-family:  "Caveat",cursive;
  padding: 1rem;
}
.newCircleeven{
  height: 70px;
  width: 130px;
  border-radius: 30%;
  color: rgb(27, 240, 27);
  z-index: 3;
  position: absolute;
  top: 150px;
 left: 460px;

}
.newCircleodd{
  height: 50px;
  width: 100px;
  border-radius: 30%;
  color: yellow;
  z-index: 3;
  position: absolute;
  top: 160px;
 left:460px;
 color:red;
} 
h5{
  margin-left: 0.8rem;
}