
.newbox {
  text-align: center;
  background-color: #282c34;
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
 
}
.newCard{
  background-color: orange;
  color: white;
  height: 300px;
  width: 300px;
  display: block;
  margin-top: 1rem;
  border-radius: 5px;;
  padding-top: 3rem;
  font-weight: bold;
  position: relative;
}