.header-line{
  height: 13vh;
  background-color:#69013B;
  position: absolute;
  top:0;
  width: 100%;
}

.main-container{
 position: absolute;
 top: 14vh;
 width: 100%; 
}

.article-container{
  width: 90%;
  background-color:  #69013B;
  color: #FBDFD1;
  margin: 1rem auto;
  position: relative;
}

.article-container img{
  height: 250px;
  width: 97.5%; 
  margin: 1rem; 
}

.article-container button {
  padding: 0.5rem;
 margin: 0 1rem 1rem 1rem;
  background-color: #FBDFD1;
}

.footer-line{
  color: #FBDFD1;
  background-color: #69013B;
  height: 5vh;
  padding: 1rem;
  text-align: center;
  position:fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 1700px){
  .header-line{
    height: 10vh;
    padding: 1rem;
  }
  
  .main-container{
    top: 15vh;
   }
   .article-container{
   margin: 2rem auto;
   padding: 1rem;
  }
  .article-container img{
    height: 350px;
  }

}